html{
	height: 100%;
	margin: 0;
}


body{
	background-image: url("IPL-2022.jpg");
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
}

/* Website Title */
.container{
	background-color: #657aa1;
	color:#fafbfc;
    padding: 10px;
	display: block;
	text-align: center;
}.result{
	background-color: #b35e5ec4;
	color:#f3f5f7;

	display: block;
	text-align: center; 
	font-weight: italic;
	font-size:larger
}

.container-heading{
    margin: 0;
}

.heading_first{
	font-family: 'Open Sans', sans-serif;
}


/* Prediction Area */
.prediction-area{
	position: relative;
	display: flex;
	justify-content: space-evenly;
	padding: 20px 40px;
}

.div2{
	display: inline-block;
	width: auto;
	height: 429px;
	text-align: center;
}

/* Form */

.form-input{
	background-color: #fafafa;
	width: 370px;
	height: 25px;
	border-radius: 3px;
	border: 0;
	text-align: center;
	-webkit-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	margin-bottom: 15px;

}

.align-center{
	padding: 0 30px;
}

/* Predict Button */
.btnScore {
	background-color:#313a3fce;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 30px;
	margin-top: 10px;
	text-decoration:none;
	transition: 0.5s ease-out;
}

.btnScore:hover{
	background-color: #E9E9E9;
	color: #000000;
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
}

.btnScore:active {
	position:relative;
	top:1px;
}

.danger{
    color: #ff0000;
}

.safe{
    color: green;
}

